/* switchs */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	input { 
		opacity: 0;
		width: 0;
		height: 0;
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}
	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}


/* buttons */
input {
	padding: none;
	box-shadow: none;
	border: none;
	margin: none;
	
	/*outline: solid max(3px,0.3vmin) #f00;*/
	/*box-shadow: 0px 0px 5px #61C5FA;*/
	/*border:1px solid #5AB0DB;*/
	outline: none;
	background-color: #0000;
	/*mix-blend-mode: difference;*/
	/*filter: grayscale(1);*/


	border-radius: none;
	
	&.is_rounded {
		border-radius: 50vh;
	}


	&[type="button"] {
		
		/*mix-blend-mode: difference;*/
		border:#3333 5px outset;
		&:hover,&:focus {
			border-style:ridge;
			border-color:#3338;
		}
		&:active {
			border-style:groove;
			border-color:#333f;
		}
	}
	&[type="text"] {

		/*mix-blend-mode: difference;*/
		/*isolation:inherit;*/
		border:#3333 max(3px,0.3vmin) solid;
		&:hover {
			border-color:#3338;
		}
		&:focus {
			border-color:#333f;
		}
	}
	
	&[type="color"] {
		/*border:#3333 max(3px,0.3vmin) solid;*/
		/*outline: red solid 5px;*/
		border: none;
	}
}