/* -- boxs -- */
body {
background-color: #f00;/*dbug*/

	margin: 0;
	padding: 0;
	#box_full {
		width: 100vw;
		height: 100vh;

		/* the box with the timer and its items */
		
		display: flex;
		align-items: center;
		justify-content: center;

		#box_rectangle {/* useless for now */

			#box_square {/* the square, empty */

				width: 90vmin;
				height: 90vmin;
				
				/* for all layers */
				position: relative;/*to overlaps*/
				
				.square {
					width: 100%;
					height: 100%;
					position: absolute;
				
				
					/* the box for the clock svg */
					&.Sclock {
						svg {
							position: absolute;
							z-index: 1;
						}
					}

					/* the box for middle texts */
					&.Smiddle {
						display: flex;
						align-items: center;
						justify-content: center;

						text-align: center;
						
						.texter {
							font-size: 0;/* no space between items*/
						
							/*outline: #ff0 dashed 2px;*/
							
							p {
							display: inline;
							}
						}

					}
					/* the box for all texts */
					&.Stext {


						.marger {
							width: 100%;
							height: 100%;

							/*outline: #f00 dashed 3px;*/

							&.a {
								height: 25%;
							}
							&.b {
								height: 50%;
							}
							&.c {
								height: 0%;
							}
						}
					}
							
					.texter {
						font-size: 0;/* no space between items*/
					
						/*outline: #0f0 dashed 2px;*/

						text-align: center;

						.style_size_p1 {
							font-size: 20vmin;
						}
						.style_size_p2 {
							font-size: 20vmin;
						}
						.style_size_p3 {
							font-size: 10vmin;
						}
						.style_size_h1 {
							font-weight:bolder;
							font-size: 8vmin;
						}
						.style_size_h2 {
							font-size: 5vmin;
						}
						
						p {
							margin:0;
							padding:0;
							display: inline;
						}
					}
				}
			}
		}
	}

	


	aside {
		position: absolute;
		right:1vmax;
		bottom:0vmax;
		text-align: right;


		#msg_cat {
			font-size:1vmax;
		}
		#msg_the {
			font-size:1vmax;
		}

	}
}