body {
background-color: #000;/*dbug*/

/* -- boxs -- */
	margin: 0;
	padding: 0;
	#box_all_full {
		width: 100vw;
		height: 100vh;

		/* the box with the timer and its items */
		
		display: flex;
		align-items: center;
		justify-content: center;

		#box_all_rectangle {/* useless for now */

			#box_all_square {/* the square, empty */

				width: 90vmin;
				height: 90vmin;
				
				/* for all layers */
				position: relative;/*to overlaps*/

				/* in : .square */

			}
		}
	}


/* -- squares -- */

	.square {
		width: 100%;
		height: 100%;
		position: absolute;
	
	/* what indise : */
		/* the box for the clock svg */
		&.sclock {
			svg {
				position: absolute;
				z-index: 1;
			}
		}
		/* the box for all texts */
		&.stext {
			.texter {/* a div with paragraphs inside */
				font-size: 0;/* no space between items */
				text-align: center;
			}
		}


	/* the position */
	
		/* in the middle of the square */
		&.toup {
			.marger {
				width: 100%;
				height: 100%;

				/*outline: #f00 dashed 3px;*/

				&.aa {
					height: 25%;
				}
				&.ab {
					height: 70%;
				}
				&.ac {
					height: 0%;
				}
			}
		}
		/* in the middle of the square */
		&.tomiddle {
			display: flex;
			align-items: center;
			justify-content: center;

			text-align: center;
			
			.texter {
				font-size: 0;/* no space between items*/
			
				/*outline: #ff0 dashed 2px;*/
				
				p {
				display: inline;
				}
			}
		}
	}


/* -- config parth -- */


	/* options box */
	#box_config_full {
		outline: #0f0 dashed 5px;
		width: 80%;
		margin-bottom: 20%;
		height: 60%;

		z-index: 2;

		#box_config_common {
			height: 30%;
			outline: #f0f dashed 5px;
			
			display: flex;

			align-items: center;
			justify-content: center;
			text-align: center;
			
			.config {
				height: 100%;
				outline: #ff0 dashed 3px;
				&.category {
					width: 20%;
				}
				&.advance {
					width: 20%;
				}
			}
		}

		#box_config_itms {
			.itm {
				outline: #f00 dashed 3px;
				width: 100cw;
				height: 5svh;
			}
		}
	}

	


	aside {
		position: absolute;
		right:1vmax;
		bottom:0vmax;
		text-align: right;


		#msg_cat {
			position: absolute;
			bottom:2vmax;
			font-size:1vmax;
		}
		#msg_the {
			font-size:1vmax;
		}
	}
}