/* custom fonts */
@font-face {
  font-family: 'texto';
  src: url(./source/fonts/talk.otf);
}

.style_c1 {
	&.stroke {
		stroke:#aaf;
	}
	&.fill {
		fill:#aaf;
	}
	&.text {
		color:#aaf;
	}
}
.style_c2 {
	&.back {
		background-color:#00f;
	}
}


body {
	.texter {
		Font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
		
		&.timer {
			Font-family: Consolas, monaco, monospace;
		}
	}

	aside {
		Font-family: Consolas, monaco, monospace;

		#msg_cat {
			color:#fff;
		}
	}
}