/* custom fonts */
@font-face {
  font-family: 'texto';
  src: url(./source/fonts/talk.otf);
}

/* --- colors --- */
.style_c1 {
	&.stroke {
		stroke:#fff;
		transition: stroke 1s;
	}
	&.fill {
		fill:#fff;
		transition: fill 1s;
	}
	&.text {
		color:#fff;
		transition: color 1s;
	}
}
.style_c2 {
	&.back {
		background-color:#fff;
		transition: background-color 1s;
	}
}

/* --- fonts --- */
body {
	.texter {
		Font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
		&.timer {
			Font-family: Consolas, monaco, monospace;
		}
		&.itm {
			input {
				Font-family: Consolas, monaco, monospace;
			}
		}
	}
	aside {
		Font-family: Consolas, monaco, monospace;
	}
}

/* --- defalut --- */
.menu {
	opacity: 0;
}