/* -- svg -- */
svg {
	#vector_dynamic_line {
		fill:none;
		
		stroke-width:10;
	}
	#vector_dynamic_arc {
		fill:none;

		stroke-width:10;
	}

	.button {
		/* stroke to bigger clickable hitbox */
		stroke-width:20vmax;
		stroke:rgba(0,0,0,0);
		
		cursor:pointer;
	}
}